$dark: #333;

$red: #c03d3d;
$dark-red: #912d2d;
$green: #80b058;
$dark-green: #537339;
$light-grey: #eee;

$border-color: #c5c4c4;

$border-radius: 6px;

// Buttons
$btn-default-bg-color: $light-grey;
$btn-default-bg-color-dark: #cbcaca;
$btn-default-bg-color-hover: $btn-default-bg-color-dark;
$btn-default-bg-color-dark-hover: #a4a3a3;